<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPasswordCrackerMasterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint
              address="http://localhost:2964/PasswordCrackerMasterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPasswordCrackerMasterService"
                contract="MasterServiceReference.IPasswordCrackerMasterService"
                name="BasicHttpBinding_IPasswordCrackerMasterService" />
        </client>
    </system.serviceModel>
</configuration>